body {
    overflow: hidden;
    /*-webkit-app-region: drag;*/
    user-select: none;
    cursor: pointer;
}

.boton-360 {
    width: 100px;
    margin-top: 1rem;
}

.boton-360:active {
    transform: translateY(4px);
}

/*.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}*/